@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;900&family=Poppins:wght@100;200;400;600;700;800&display=swap');

:root {
  --color-grey-light: #f0eeee;

  --color-grey-dark-1: #999;

  --shadow-dark: 0 2rem 6rem rgba(0,0,0,.3);
}

* {
  margin: 0;
  padding: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

@media only screen and (max-width: 600px) {
  html {
    font-size: 50%;
  }
}

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
  line-height: 1.6;
  min-height: 100vh;
}

.wrapper {
  width: 100%;
  height: 100vh;
  background: dodgerblue;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex-direction: column;
}

.label {
  position: relative;
  z-index: 30;
  font-size: 3rem;
  color: rgba(0,0,0,.5);
  font-family: 'Poppins', sans-serif;
  position: relative;
  font-weight: 900;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 500px) {
  .label {
    font-size: 2rem;
  }

  i {
    font-size: 2rem;
    margin-left: 10px !important;
  }
}

i {
  font-size: 3rem;
  margin-left: 20px;
}

.container {
  position: relative;
  z-index: 10;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
  grid-template-rows: auto;
  grid-gap: 25px;
  padding: 25px;
  border-radius: 10px;
  cursor: pointer;
  background: rgba(255, 255, 255, .2) !important;
  box-shadow:  0 2rem 5rem rgba(0,0,0,.2);
  will-change: width, height;
  background: inherit;
  overflow-y: auto;
  overflow-x: hidden;
}

.container:before {
  content: "";
  position: absolute;
  background: inherit;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
  filter: blur(10px);
}

.select {
  position: relative;
  background: transparent;
  display: grid;
  grid-column: 1 / 5;
  background-color: transparent;
  margin: -25px;
  padding: 20px 40px;
  padding-bottom: -40px !important;
  border-radius: 10px;
  justify-items: flex-start;
  align-items: center;
  cursor: pointer;
  will-change: width, height;
}

.item {
  position: relative;
  z-index: 50;
  display: flex;
  align-items: center;
  justify-self: center;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, .7);
  border-radius: 15px;
  box-shadow:  0 2rem 5rem rgba(0,0,0,.15);
  will-change: transform, opacity;
  overflow: hidden;
}

@media only screen and (max-width: 800px) {
  .item {
    height: 15rem;
    padding-right: 25px !important;
  }
}

@media only screen and (max-width: 400px) {
  .item {
    height: 15rem;
    margin: 0 auto !important;
  }
}

.item::before {
  content: "";
  position: absolute;
  background: inherit;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
}

.none {
  display: none;
}

/* ------------------------- Scrollbar --------------------------- */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, .5);
  box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
  border-radius: 3rem;
  filter: blur(10px);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, .9);
  border-radius: 3rem;
  box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
  filter: blur(10px);
}